* {
    font-family: 'Artifika', serif;
    text-align: center;
}

h1 {
    font-family: 'Fontdiner Swanky', serif;
    color: lightblue;
}
.marketplace {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: 50%;
}
    .mcard {
        display: inline-block;
        vertical-align: top;
        margin: 2% auto;
        width: 18%;
        height: 200px;
    }
    .marketcard {
        max-width: 100%;
        max-height: 100%;
    }

.playbox {
    display: inline-block;
    vertical-align: top;
    width: 28%;
}
    .options {
        display: inline-block;
        vertical-align: top;
        width: 90%;
        height: 150px;
    }
        .options>h3 {
            margin: 0 auto;
        }
        button.play {
            padding: 5px 10px;
            background-color: lightskyblue;
            color: gray;
        }
    .gamelog {
        display: inline-block;
        vertical-align: top;
        width: 90%;
    }
        .dice {
            display: inline-block;
            vertical-align: top;
            width: 50px;
            height: 50px;
            border: 1px solid #202020;
            outline: none;
        }
        .results {
            margin-top: 10px;
            display: block;
            border: none;
            outline: none;
            width: 98%;
            height: 300px;
        }

.panel-group {
    margin: 10px auto;
    display: inline-block;
    vertical-align: top;
    width: 24%;
}
    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 95%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }
        .username {
            display: inline-block;
            vertical-align: top;
            text-align: left;
            width: 45%;
            font-size: 1.5em;
            font-style: bold;
            background-color: #eee;
        }
        .username.true {
            color: blue;
        }
        .money {
            display: inline-block;
            text-align: right;
            width: 45%;
            font-size: 1.5em;
            background-color: #eee;
        }
            .coin {
                background-color: mediumpurple;
                font-size: 1.5em;
                border-radius: 50%;
                color: black;
                border: 1px solid mediumslateblue;
                padding: 4% 1%;
            }
            .yen {
                font-size: 0.7em;
                background-color: mediumpurple;
                color: black;
            }

    .landmarks {
        display: inline-block;
        vertical-align: top;
        width: 95%;
        background-color: #eee;
    }
        .landmarks>button {
            color: white;
            width: 23%;
            height: 50px;
        }
        button.false {
            vertical-align: top;
            background-color: grey;
        }
        button.train.true {
            vertical-align: top;
            background-color: lightcoral;
        } 
        button.mall.true {
            vertical-align: top;
            background-color: lightseagreen;
        }
        button.park.true {
            vertical-align: top;
            background-color: lightsalmon;
        }
        button.tower.true {
            vertical-align: top;
            background-color: yellowgreen;
        }
        .traincard, .mallcard, .parkcard, .towercard {
            max-width: 170px;
            display: none; 
            z-index: 1;
            position: fixed;
            margin: auto;
            left: 25%;
            top: 75%;
        }
        /* .playercard {
            outline: 1px dotted black;
            padding: 1%;
            margin: 1%;
        } */

div.panel {
    padding: 0 18px;
    width: 95%;
    border-top: 1px solid black;
    background-color: white;
    margin: 0 auto;
    font-size: 0.8em;
    overflow-y: scroll;
}
    /* .panel>div>p {
        background-color: white;
        display: inline-block;
        vertical-align: top;
    } */
    /* .cardcats {
        background-color: white;
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }
    .pcards {
        background-color: white;
        display: inline-block;
        width: 65%;
        vertical-align: top;
    } */
    .card.blue {
        display: block;
        width: 100%;
        background-color: white;
        color: blue;
    }
    .card.green {
        display: block;
        width: 100%;
        background-color: white;
        color: green;
    }
    .card.purple {
        display: block;
        width: 100%;
        background-color: white;
        color: purple;
    }
    .card.red {
        display: block;
        width: 100%;
        background-color: white;
        color: red;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 40%;
    width: 35%;
    height: 30%;
    padding: 2%;
    margin: auto;
    background-color: lightyellow;
    border: 2px solid yellow;
}
    #tvModalContent {
        background-color: lightyellow;
        height: auto;
        width: 98%;
    }

.gameover>h2 {
        color: white;
    } 
    a {
        background-color: darkgray;
        color: black;
        text-decoration: none;
    }