<div *ngIf="!inPlay">
  <p>waiting for other players to join...</p>
</div>

<div *ngIf="inPlay"> 
  <fieldset class="marketplace">
    <legend>Marketplace (Deck: {{game.deck.cards.length}})</legend>
      <div class="mcard" *ngFor="let c of displayDeck" (click)="purchaseCard(c)">{{c.roll}} - {{c.name}} Cost: {{c.cost}}</div>
  </fieldset>

  <textarea class="results" readonly>{{results}}</textarea>

  <p>{{currentUser}}</p>
  <p>{{game.players[game.turn].id}}</p>
  <p>my socket: {{game.players | json}}</p>
  <div class="options" *ngIf="currentUser == game.players[game.turn].id">
    <button (click)="rollOne()" *ngIf="!decisionMade">Roll 1</button>
    <button (click)="rollTwo()" *ngIf="!decisionMade" [disabled]="!game.players[game.turn].progress[0]">Roll 2</button>
    <p *ngIf="canPurchase && game.players[game.turn].coins > 0">Click on a card or a landmark to purchase!</p>
    <p *ngIf="canPurchase && game.players[game.turn].coins == 0">Not enough coins to purchase anything :( Your turn is over.</p>
  </div>
  <div class="panel-group" *ngFor="let p of game.players">
    <button class="accordion">{{p.username}} {{p.progress}} ${{p.coins}}$</button>
    <div class="panel">
      <p *ngFor="let c of p.cards">{{c.roll}} - {{c.name}}</p>
    </div>
  </div>
</div>