.marketplace {
    width: 98%
}
    .mcard {
        display: inline-block;
        vertical-align: top;
        margin: 2% auto;
        width: 18%;
        height: 200px;
        border: 1px solid white;
    }

.results {
    margin: 4% auto;
    width: 95%;
    overflow-y: scroll;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    /* display: none; */
}
    .panel>p {
        background-color: white;
    }