<div *ngIf="!inPlay">
  <p>waiting for other players to join...</p>
</div>

<div *ngIf="inPlay"> 
  
  <div *ngIf="!game.gameOver">
    <fieldset>
      <legend>Players</legend>
      <fieldset *ngFor="let p of game.players" class="player">
        <legend>{{p.username}}</legend>
        <p *ngIf="p.id == currentUser">Total: {{p.totalTreasure}}</p>
        <p>Current: {{p.currentTreasure}}</p>
        <button *ngIf="!game.playersWhoLeft.includes(p.id) && p.id == currentUser && !decisionMade && !game.roundOver" (click)="stay()">Stay</button>
        <button *ngIf="!game.playersWhoLeft.includes(p.id) && p.id == currentUser && !decisionMade && !game.roundOver" (click)="leave()">Leave</button>
        <button *ngIf="p.id == currentUser && !decisionMade && game.roundOver" (click)="nextRound()">Start Next Round</button>
      </fieldset>
    </fieldset>

    <h2>Round {{game.round}}</h2>
    <fieldset>
      <legend>Cards (Current Pot: {{game.roundTreasure}})</legend>
      <img class="card" *ngFor="let c of game.deck.inPlay" [src]="c.image" [alt]="c.name">
    </fieldset> 
  </div>

  <div *ngIf="game.gameOver">
    <h2>Game Over!</h2>
    <p *ngFor="let p of game.players; let idx = index">{{idx+1}}: {{p.username}} {{p.totalTreasure}}</p>
    <button><a [routerLink]="['/games']">Back to Games</a></button>
  </div>
</div>