.game-slider {
	width: 85%;
	margin: auto;
}
	.slick-item {
		display: inline-block;
	}
	img {
		width: 150px;
		height: 150px;
	}

.open {
	width: 95%;
}
	.game {
		display: inline-block;
		width: auto;
		margin: 15px;
		height: auto;
		border: 1px solid black; 
	}	
